<html>
<head>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>vue-easeljs demos</h1>

        <p>
        A Vue.js plugin to control an HTML5 canvas using EaselJS
        </p>

        <div id="app">

            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs">
                        <li :class="{active: tab == 'gary'}" @click="tab='gary'"><a href="javascript:void(0);">Gary</a></li>
                        <li :class="{active: tab == 'readme'}" @click="tab='readme'"><a href="javascript:void(0);">Github Examples</a></li>
                    </ul>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div v-if="tab=='gary'">
                        <gary></gary>
                    </div>
                    <div v-if="tab=='readme'">
                        <p>
                            These are the examples used in the <a href="https://github.com/dankuck/vue-easeljs">vue-easeljs README.md</a> on Github.
                        </p>

                        <div v-for="(html, key) in examples">
                            <a :name="'readme.' + key"></a>
                            <exampler :html="html"></exampler>
                            <br />
                            <br />
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <br />
    <br />
    <br />

    <script type="text/javascript" src="app.js"></script>

</body>
</html>
