<html>
<head>
    <script src="jquery.min.js"></script>

    <script src="vue.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <h1>vue-easeljs</h1>

        <p>
        A Vue.js plugin to control an HTML5 canvas using EaselJS
        </p>

        <div id="app">
            <easel-canvas style="background-color: grey;" width="400" height="300" @click="clickedGary">
                <easel-bitmap
                    image="/images/gulfstream_park.jpg"
                    x="-80"
                    y="-10"
                    :scale="300 / 850"
                    >
                </easel-bitmap>
                <easel-container
                    x=0
                    y=0
                    :shadow="['black', 1, 1, 1]"
                >
                    <easel-shape
                        :x=0
                        :y="y"
                        fill="DeepSkyBlue"
                        stroke="black"
                        form="circle"
                        :dimensions="50"
                        :show-center="true"
                        :alpha=".5"
                        @click="log"
                        >
                    </easel-shape>
                    <easel-shape
                        :x=50
                        :y="y"
                        fill="#FF0000"
                        stroke="black"
                        form="ellipse"
                        :dimensions="[50, 40]"
                        :show-center="true"
                        >
                    </easel-shape>
                    <easel-shape
                        :x=100
                        :y="y"
                        fill="#00FF00"
                        stroke="black"
                        form="star"
                        :dimensions="[50, 5, .6]"
                        :show-center="true"
                        :rotation="-90"
                        >
                    </easel-shape>
                    <easel-shape
                        :x=150
                        :y="y"
                        fill="#0000FF"
                        stroke="black"
                        form="rect"
                        :dimensions="[50, 40]"
                        :show-center="true"
                        >
                    </easel-shape>
                    <easel-shape
                        :x=200
                        :y="y"
                        fill="#FFFF00"
                        stroke="black"
                        form="rect"
                        :dimensions="[50, 40, 15]"
                        :show-center="true"
                        >
                    </easel-shape>
                    <easel-shape
                        :x=250
                        :y="y"
                        fill="#FF00FF"
                        stroke="black"
                        form="rect"
                        :dimensions="[50, 40, 15, 0, 0, 15]"
                        :show-center="true"
                        >
                    </easel-shape>
                </easel-container>
                <easel-sprite-sheet
                    :images="['sprites/lastguardian-all.png']"
                    :frames="{width:32, height:32}"
                    :animations="{
                        stand: 32 * 6 + 16 + 5,
                        run: [32 * 6 + 16 + 6, 32 * 6 + 16 + 7],
                    }"
                    :framerate="30"
                >
                    <easel-shape
                        :x="gary.x"
                        :y="gary.y"
                        fill="black"
                        form="ellipse"
                        :dimensions="[16, 4]"
                        :alpha=".3"
                        :scale="gary.scale"
                    >
                    </easel-shape>
                    <easel-sprite
                        :x="gary.x"
                        :y="gary.y"
                        :animation="gary.animation"
                        @click="clickedGary"
                        :flip="gary.flip"
                        :scale="gary.scale"
                    >
                    </easel-sprite>
                    <easel-shape
                        :x="gary.x"
                        :y="gary.y"
                        form="circle"
                        dimensions="1"
                        fill="black"
                    >
                    </easel-shape>
                </easel-sprite-sheet>
                <easel-text
                    v-if="showLabels"
                    text="Gary"
                    color="yellow"
                    font="20px Helvetica"
                    :x="gary.x"
                    :y="gary.y - 40"
                    :shadow="['black', 1, 1, 1]"
                    :align="['center', 'alphabetical']"
                >
                </easel-text>
            </easel-canvas>
            <br />
            <input type="checkbox" v-model="showLabels"> Show Labels<br />
            <input type="textarea" v-model="gary.scale"> Scale<br />
        </div>

    </div>

    <script type="text/javascript" src="app.js"></script>

    <script>

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    gary: {
                        animation: 'stand',
                        x: 200,
                        y: 285,
                        flip: 'horizontal',
                        moving: null,
                        direction: -1,
                        scale: 1,
                    },
                    y: 25,
                    log: console.log,
                    showLabels: true,
                };
            },
            methods: {
                clickedGary: function() {
                    var gary = this.gary;
                    var leftLimit = 100;
                    var rightLimit = 300;
                    console.log('clicked gary');
                    if (!gary.moving) {
                        gary.animation = 'run';
                        var garyGo = function () {
                            gary.x += gary.direction * 10;
                            if (gary.x < leftLimit) {
                                gary.direction = 1;
                            } else if (gary.x > rightLimit) {
                                gary.direction = -1;
                            }
                            if (gary.direction < 0) {
                                gary.flip = "horizontal";
                            } else {
                                gary.flip = "";
                            }
                        };
                        gary.moving = setInterval(garyGo, 100);
                        garyGo();
                    } else {
                        gary.animation = 'stand';
                        clearInterval(gary.moving);
                        gary.moving = null;
                        if (gary.direction < 0) {
                            gary.flip = "";
                        } else {
                            gary.flip = "horizontal";
                        }
                    }
                },
            },
        });

    </script>
</body>
</html>
